.hbtn, .hbtn-pill {
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid 2px #ffffff;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  z-index: 0;
}

.hbtn-pill {
  border-radius: 50px;
}

.hbtn.hb-fill-on, .hb-fill-on.hbtn-pill, .hbtn-pill.hb-fill-on {
  position: relative;
}

.hbtn.hb-fill-on:before, .hb-fill-on.hbtn-pill:before, .hbtn-pill.hb-fill-on:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hbtn.hb-fill-on:hover:before, .hb-fill-on.hbtn-pill:hover:before, .hbtn-pill.hb-fill-on:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-top, .hb-fill-top.hbtn-pill, .hbtn-pill.hb-fill-top {
  position: relative;
}

.hbtn.hb-fill-top:before, .hb-fill-top.hbtn-pill:before, .hbtn-pill.hb-fill-top:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-top:hover:before, .hb-fill-top.hbtn-pill:hover:before, .hbtn-pill.hb-fill-top:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-right, .hb-fill-right.hbtn-pill, .hbtn-pill.hb-fill-right {
  position: relative;
}

.hbtn.hb-fill-right:before, .hb-fill-right.hbtn-pill:before, .hbtn-pill.hb-fill-right:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-right:hover:before, .hb-fill-right.hbtn-pill:hover:before, .hbtn-pill.hb-fill-right:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-bottom, .hb-fill-bottom.hbtn-pill, .hbtn-pill.hb-fill-bottom {
  position: relative;
}

.hbtn.hb-fill-bottom:before, .hb-fill-bottom.hbtn-pill:before, .hbtn-pill.hb-fill-bottom:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-bottom:hover:before, .hb-fill-bottom.hbtn-pill:hover:before, .hbtn-pill.hb-fill-bottom:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-left, .hb-fill-left.hbtn-pill, .hbtn-pill.hb-fill-left {
  position: relative;
}

.hbtn.hb-fill-left:before, .hb-fill-left.hbtn-pill:before, .hbtn-pill.hb-fill-left:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-left:hover:before, .hb-fill-left.hbtn-pill:hover:before, .hbtn-pill.hb-fill-left:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-on-rev, .hb-fill-on-rev.hbtn-pill, .hbtn-pill.hb-fill-on-rev {
  position: relative;
}

.hbtn.hb-fill-on-rev:before, .hb-fill-on-rev.hbtn-pill:before, .hbtn-pill.hb-fill-on-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-on-rev:hover:before, .hb-fill-on-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-on-rev:hover:before {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hbtn.hb-fill-top-rev, .hb-fill-top-rev.hbtn-pill, .hbtn-pill.hb-fill-top-rev {
  position: relative;
}

.hbtn.hb-fill-top-rev:before, .hb-fill-top-rev.hbtn-pill:before, .hbtn-pill.hb-fill-top-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-top-rev:hover:before, .hb-fill-top-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-top-rev:hover:before {
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-right-rev, .hb-fill-right-rev.hbtn-pill, .hbtn-pill.hb-fill-right-rev {
  position: relative;
}

.hbtn.hb-fill-right-rev:before, .hb-fill-right-rev.hbtn-pill:before, .hbtn-pill.hb-fill-right-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-right-rev:hover:before, .hb-fill-right-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-right-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-bottom-rev, .hb-fill-bottom-rev.hbtn-pill, .hbtn-pill.hb-fill-bottom-rev {
  position: relative;
}

.hbtn.hb-fill-bottom-rev:before, .hb-fill-bottom-rev.hbtn-pill:before, .hbtn-pill.hb-fill-bottom-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-bottom-rev:hover:before, .hb-fill-bottom-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-bottom-rev:hover:before {
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-left-rev, .hb-fill-left-rev.hbtn-pill, .hbtn-pill.hb-fill-left-rev {
  position: relative;
}

.hbtn.hb-fill-left-rev:before, .hb-fill-left-rev.hbtn-pill:before, .hbtn-pill.hb-fill-left-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-left-rev:hover:before, .hb-fill-left-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-left-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.hb-fill-top, .hb-fill-right, .hb-fill-bottom, .hb-fill-left, .hb-fill-on {
  background: transparent;
  color: #ffffff;
  transition: color 0.3s ease, background 0s ease;
}

.hb-fill-top:hover, .hb-fill-right:hover, .hb-fill-bottom:hover, .hb-fill-left:hover, .hb-fill-on:hover {
  color: #000000;
  background: #ffffff;
  transition: color 0.3s ease, background 0s 0.3s ease;
}

.hb-fill-top-rev, .hb-fill-right-rev, .hb-fill-bottom-rev, .hb-fill-left-rev, .hb-fill-on-rev {
  background: #ffffff;
  color: #000000;
  transition: color 0.3s ease, background 0s 0.3s ease;
}

.hb-fill-top-rev:hover, .hb-fill-right-rev:hover, .hb-fill-bottom-rev:hover, .hb-fill-left-rev:hover, .hb-fill-on-rev:hover {
  background: transparent;
  color: #ffffff;
  transition: color 0.3s ease, background 0s ease;
}

.hb-bg {
  transition: all 0.3s ease;
}

.hb-bg:hover {
  transition: all 0.3s ease;
}

.hb-br:before {
  border: solid 2px #ffffff;
}
