.anibtn {
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid 2px $btncolor;
  text-decoration: none;
  color: $btncolor;
  white-space: nowrap;
  &-pill {
    @extend .anibtn;
    border-radius: 50px;
  }
}
