//===================================
// Base Buttons Style
//===================================

.hbtn {
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid $btnborder $btncolor;
  text-decoration: none;
  color: $btncolor;
  white-space: nowrap;
  z-index: 0;
}

.hbtn-pill {
  @extend .hbtn;
  border-radius: 50px;
}
