.tr-fill-top,
.tr-fill-right,
.tr-fill-bottom,
.tr-fill-left {
  position: relative;
  transition-duration: .3s;
  &:before {
    position: absolute;
    content: '';
    background: $btncolor;
    transition-duration: .3s;
    z-index: -1;
  }
  &:hover {
    color: $txtcolorfill;
  }
}


.tr-fill-top {
  &:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
  }
  &:hover {
    &:before {
      height: 100%;
    }
  }
}

.tr-fill-right {
  &:before {
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

.tr-fill-bottom {
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
  }
  &:hover {
    &:before {
      height: 100%;
    }
  }
}

.tr-fill-left {
  &:before {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}
