//Border width
$btnborder: 3px;

//Border and fill color
$btncolor: #ffffff;

//Button text color
$txtcolor: #ffffff;

//Button text color when on background
$txtcolorfill: #000000;

//Button Padding
$paddingY: 8px;
$paddingX: 20px;