//Border width
$btnborder: 2px;

//Border and fill color
$btncolor: #ffffff;

//Button text color
$txtcolor: #ffffff;

//Alternative button text color for background transitions
$txtcolorfill: #000000;

//Button Padding
$paddingY: 8px;
$paddingX: 20px;