.anibtn, .anibtn-pill {
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid 2px #ffffff;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}

.anibtn-pill {
  border-radius: 50px;
}

.anibtn.tr-fill-on, .tr-fill-on.anibtn-pill, .anibtn-pill.tr-fill-on {
  position: relative;
}

.anibtn.tr-fill-on:before, .tr-fill-on.anibtn-pill:before, .anibtn-pill.tr-fill-on:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.anibtn.tr-fill-on:hover:before, .tr-fill-on.anibtn-pill:hover:before, .anibtn-pill.tr-fill-on:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-top, .tr-fill-top.anibtn-pill, .anibtn-pill.tr-fill-top {
  position: relative;
}

.anibtn.tr-fill-top:before, .tr-fill-top.anibtn-pill:before, .anibtn-pill.tr-fill-top:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
}

.anibtn.tr-fill-top:hover:before, .tr-fill-top.anibtn-pill:hover:before, .anibtn-pill.tr-fill-top:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-right, .tr-fill-right.anibtn-pill, .anibtn-pill.tr-fill-right {
  position: relative;
}

.anibtn.tr-fill-right:before, .tr-fill-right.anibtn-pill:before, .anibtn-pill.tr-fill-right:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-right:hover:before, .tr-fill-right.anibtn-pill:hover:before, .anibtn-pill.tr-fill-right:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-bottom, .tr-fill-bottom.anibtn-pill, .anibtn-pill.tr-fill-bottom {
  position: relative;
}

.anibtn.tr-fill-bottom:before, .tr-fill-bottom.anibtn-pill:before, .anibtn-pill.tr-fill-bottom:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
}

.anibtn.tr-fill-bottom:hover:before, .tr-fill-bottom.anibtn-pill:hover:before, .anibtn-pill.tr-fill-bottom:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-left, .tr-fill-left.anibtn-pill, .anibtn-pill.tr-fill-left {
  position: relative;
}

.anibtn.tr-fill-left:before, .tr-fill-left.anibtn-pill:before, .anibtn-pill.tr-fill-left:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-left:hover:before, .tr-fill-left.anibtn-pill:hover:before, .anibtn-pill.tr-fill-left:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-on-rev, .tr-fill-on-rev.anibtn-pill, .anibtn-pill.tr-fill-on-rev {
  position: relative;
}

.anibtn.tr-fill-on-rev:before, .tr-fill-on-rev.anibtn-pill:before, .anibtn-pill.tr-fill-on-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-on-rev:hover:before, .tr-fill-on-rev.anibtn-pill:hover:before, .anibtn-pill.tr-fill-on-rev:hover:before {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.anibtn.tr-fill-top-rev, .tr-fill-top-rev.anibtn-pill, .anibtn-pill.tr-fill-top-rev {
  position: relative;
}

.anibtn.tr-fill-top-rev:before, .tr-fill-top-rev.anibtn-pill:before, .anibtn-pill.tr-fill-top-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-top-rev:hover:before, .tr-fill-top-rev.anibtn-pill:hover:before, .anibtn-pill.tr-fill-top-rev:hover:before {
  width: 100%;
  height: 0;
  opacity: 1;
}

.anibtn.tr-fill-right-rev, .tr-fill-right-rev.anibtn-pill, .anibtn-pill.tr-fill-right-rev {
  position: relative;
}

.anibtn.tr-fill-right-rev:before, .tr-fill-right-rev.anibtn-pill:before, .anibtn-pill.tr-fill-right-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-right-rev:hover:before, .tr-fill-right-rev.anibtn-pill:hover:before, .anibtn-pill.tr-fill-right-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-bottom-rev, .tr-fill-bottom-rev.anibtn-pill, .anibtn-pill.tr-fill-bottom-rev {
  position: relative;
}

.anibtn.tr-fill-bottom-rev:before, .tr-fill-bottom-rev.anibtn-pill:before, .anibtn-pill.tr-fill-bottom-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-bottom-rev:hover:before, .tr-fill-bottom-rev.anibtn-pill:hover:before, .anibtn-pill.tr-fill-bottom-rev:hover:before {
  width: 100%;
  height: 0;
  opacity: 1;
}

.anibtn.tr-fill-left-rev, .tr-fill-left-rev.anibtn-pill, .anibtn-pill.tr-fill-left-rev {
  position: relative;
}

.anibtn.tr-fill-left-rev:before, .tr-fill-left-rev.anibtn-pill:before, .anibtn-pill.tr-fill-left-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.anibtn.tr-fill-left-rev:hover:before, .tr-fill-left-rev.anibtn-pill:hover:before, .anibtn-pill.tr-fill-left-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.tr-fill-top,
.tr-fill-right,
.tr-fill-bottom,
.tr-fill-left,
.tr-fill-on {
  background: transparent;
  color: #ffffff;
  transition: color 0.3s ease, background 0s ease;
}

.tr-fill-top:hover,
.tr-fill-right:hover,
.tr-fill-bottom:hover,
.tr-fill-left:hover,
.tr-fill-on:hover {
  color: #000000;
  background: #ffffff;
  transition: color 0.3s ease, background 0s 0.3s ease;
}

.tr-fill-top-rev,
.tr-fill-right-rev,
.tr-fill-bottom-rev,
.tr-fill-left-rev,
.tr-fill-on-rev {
  background: #ffffff;
  color: #000000;
  transition: color 0.3s ease, background 0s 0.3s ease;
}

.tr-fill-top-rev:hover,
.tr-fill-right-rev:hover,
.tr-fill-bottom-rev:hover,
.tr-fill-left-rev:hover,
.tr-fill-on-rev:hover {
  background: transparent;
  color: #ffffff;
  transition: color 0.3s ease, background 0s ease;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #1e1e1e;
}

* {
  box-sizing: border-box;
  outline: none;
}

.body-wrap {
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
      -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-align: start;
      -webkit-align-items: flex-start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 60px;
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-weight: 400;
}

.container {
  width: 50%;
  height: 300px;
  text-align: center;
}

.container h3 {
  font-size: 3rem;
}
