.hbtn, .hbtn-pill {
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid 2px #ffffff;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  z-index: 0;
}

.hbtn-pill {
  border-radius: 50px;
}

.hbtn.hb-fill-on, .hb-fill-on.hbtn-pill, .hbtn-pill.hb-fill-on {
  position: relative;
}

.hbtn.hb-fill-on:before, .hb-fill-on.hbtn-pill:before, .hbtn-pill.hb-fill-on:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hbtn.hb-fill-on:hover:before, .hb-fill-on.hbtn-pill:hover:before, .hbtn-pill.hb-fill-on:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-top, .hb-fill-top.hbtn-pill, .hbtn-pill.hb-fill-top {
  position: relative;
}

.hbtn.hb-fill-top:before, .hb-fill-top.hbtn-pill:before, .hbtn-pill.hb-fill-top:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-top:hover:before, .hb-fill-top.hbtn-pill:hover:before, .hbtn-pill.hb-fill-top:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-right, .hb-fill-right.hbtn-pill, .hbtn-pill.hb-fill-right {
  position: relative;
}

.hbtn.hb-fill-right:before, .hb-fill-right.hbtn-pill:before, .hbtn-pill.hb-fill-right:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-right:hover:before, .hb-fill-right.hbtn-pill:hover:before, .hbtn-pill.hb-fill-right:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-bottom, .hb-fill-bottom.hbtn-pill, .hbtn-pill.hb-fill-bottom {
  position: relative;
}

.hbtn.hb-fill-bottom:before, .hb-fill-bottom.hbtn-pill:before, .hbtn-pill.hb-fill-bottom:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-bottom:hover:before, .hb-fill-bottom.hbtn-pill:hover:before, .hbtn-pill.hb-fill-bottom:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-left, .hb-fill-left.hbtn-pill, .hbtn-pill.hb-fill-left {
  position: relative;
}

.hbtn.hb-fill-left:before, .hb-fill-left.hbtn-pill:before, .hbtn-pill.hb-fill-left:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-left:hover:before, .hb-fill-left.hbtn-pill:hover:before, .hbtn-pill.hb-fill-left:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-on-rev, .hb-fill-on-rev.hbtn-pill, .hbtn-pill.hb-fill-on-rev {
  position: relative;
}

.hbtn.hb-fill-on-rev:before, .hb-fill-on-rev.hbtn-pill:before, .hbtn-pill.hb-fill-on-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-on-rev:hover:before, .hb-fill-on-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-on-rev:hover:before {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hbtn.hb-fill-top-rev, .hb-fill-top-rev.hbtn-pill, .hbtn-pill.hb-fill-top-rev {
  position: relative;
}

.hbtn.hb-fill-top-rev:before, .hb-fill-top-rev.hbtn-pill:before, .hbtn-pill.hb-fill-top-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-top-rev:hover:before, .hb-fill-top-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-top-rev:hover:before {
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-right-rev, .hb-fill-right-rev.hbtn-pill, .hbtn-pill.hb-fill-right-rev {
  position: relative;
}

.hbtn.hb-fill-right-rev:before, .hb-fill-right-rev.hbtn-pill:before, .hbtn-pill.hb-fill-right-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-right-rev:hover:before, .hb-fill-right-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-right-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-bottom-rev, .hb-fill-bottom-rev.hbtn-pill, .hbtn-pill.hb-fill-bottom-rev {
  position: relative;
}

.hbtn.hb-fill-bottom-rev:before, .hb-fill-bottom-rev.hbtn-pill:before, .hbtn-pill.hb-fill-bottom-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-bottom-rev:hover:before, .hb-fill-bottom-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-bottom-rev:hover:before {
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-left-rev, .hb-fill-left-rev.hbtn-pill, .hbtn-pill.hb-fill-left-rev {
  position: relative;
}

.hbtn.hb-fill-left-rev:before, .hb-fill-left-rev.hbtn-pill:before, .hbtn-pill.hb-fill-left-rev:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-left-rev:hover:before, .hb-fill-left-rev.hbtn-pill:hover:before, .hbtn-pill.hb-fill-left-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.hb-fill-top, .hb-fill-right, .hb-fill-bottom, .hb-fill-left, .hb-fill-on {
  background: transparent;
  color: #ffffff;
  transition: color 0.3s ease, background 0s ease;
}

.hb-fill-top:hover, .hb-fill-right:hover, .hb-fill-bottom:hover, .hb-fill-left:hover, .hb-fill-on:hover {
  color: #000000;
  background: #ffffff;
  transition: color 0.3s ease, background 0s 0.3s ease;
}

.hb-fill-top-rev, .hb-fill-right-rev, .hb-fill-bottom-rev, .hb-fill-left-rev, .hb-fill-on-rev {
  background: #ffffff;
  color: #000000;
  transition: color 0.3s ease, background 0s 0.3s ease;
}

.hb-fill-top-rev:hover, .hb-fill-right-rev:hover, .hb-fill-bottom-rev:hover, .hb-fill-left-rev:hover, .hb-fill-on-rev:hover {
  background: transparent;
  color: #ffffff;
  transition: color 0.3s ease, background 0s ease;
}

.hb-bg {
  transition: all 0.3s ease;
}

.hb-bg:hover {
  transition: all 0.3s ease;
}

.hb-br:before {
  border: solid 2px #ffffff;
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #1e1e1e;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
  margin-bottom: 15px;
}

h4 {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 50px;
}

h5 {
  font-size: 1.4rem;
  -ms-flex-item-align: start;
          -webkit-align-self: flex-start;
      align-self: flex-start;
  margin-bottom: 10px;
  margin-top: 15px;
}

.lead {
  font-family: "Bellefair", serif;
}

.class-helper {
  background: #1e1e1e;
  border-top: 2px solid #ebebeb;
  padding: 30px;
  color: #ffffff;
  -ms-flex-pack: center;
      -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-align: center;
      -webkit-align-items: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  display: none;
}

.body-wrap {
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
      -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-align: start;
      -webkit-align-items: flex-start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
          -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  font-family: "Lato", sans-serif;
  margin-bottom: 250px;
}

.body-wrap__left, .body-wrap__right {
  width: 50%;
  padding: 0;
}

.container {
  padding: 20px 15px;
  width: 100%;
  text-align: left;
}

.container.bg-color {
  background: #1e1e1e !important;
}

.container h3 {
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .body-wrap {
    -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .body-wrap__left, .body-wrap__right {
    width: 100%;
    padding: 15px;
  }
}
