$font:'Bellefair', serif;
$font2:'Lato', sans-serif;



html, body {
	margin:0;
	padding:0;
}

body {
	background: #1e1e1e;
}

* {
	box-sizing: border-box;
	outline: none;
}

.body-wrap {
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items:flex-start;
	flex-wrap: wrap;
	margin: 0 60px;
	font-family: $font2;
}

h3 {
	font-size: 3rem;
}
h4 {
	font-size: 1.6rem;
	margin-bottom:40px;
}

h1,h2,h3,h4,h5,h6 {
	color: #ffffff;
	font-family: $font;
	font-weight: 400;
}

.container {
	width: 50%;
	height: 300px;
	text-align: center;
	h3 {
		font-size:3rem;
	}
}


