$font:'Bellefair', serif;
$font2:'Lato', sans-serif;

* {
	box-sizing: border-box;
	outline: none;
}

html, body {
	margin:0;
	padding:0;
}

body {
	background: #1e1e1e;
}

h1,h2,h3,h4,h5,h6 {
	color: #ffffff;
	font-family: $font;
	font-weight: 400;
}

h3 {
	font-size: 3rem;
	margin-bottom: 15px;
}
h4 {
	font-size: 2rem;
	margin-bottom:15px;
	margin-top:50px;
}
h5 {
	font-size:1.4rem;
	align-self: flex-start;
	margin-bottom: 10px;
	margin-top:15px;
}

.lead {
	font-family: $font;
}

.class-helper {
	background: #1e1e1e;
	border-top: 2px solid #ebebeb;
	padding: 30px;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	font-family: $font2;
	font-size: 1.6rem;
	position: fixed;
	bottom:0;
	left:0;
	width: 100%;
	max-height:200px;
	display: none;
	transition-duration: .3s;
}


.body-wrap {
	padding: 50px 30px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items:flex-start;
	flex-wrap: wrap;
	margin: 0;
	font-family: $font2;
	margin-bottom: 250px;
}

.container {
	padding:20px 15px;
	width: 100%;
	text-align: center;
	&.bg-color {
		background: #1e1e1e !important;
	}
	h3 {
		font-size:3rem;
	}
}

.hbtn-x {
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	padding: 8px 20px;
	margin: 0 3px 6px 3px;
	text-align: center;
	border: solid 2px white;
	text-decoration: none;
	color: #ffffff;
	white-space: nowrap;
	z-index: 0;
	i {
		padding-right: 8px;
	}
}


@media only screen and (max-width: 768px) {

	.body-wrap {
		flex-wrap: wrap;
	}

}

