* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #1e1e1e;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
  margin-bottom: 15px;
}

h4 {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 50px;
}

h5 {
  font-size: 1.4rem;
  -ms-flex-item-align: start;
          -webkit-align-self: flex-start;
      align-self: flex-start;
  margin-bottom: 10px;
  margin-top: 15px;
}

.lead {
  font-family: "Bellefair", serif;
}

.class-helper {
  background: #1e1e1e;
  border-top: 2px solid #ebebeb;
  padding: 30px;
  color: #ffffff;
  -ms-flex-pack: center;
      -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-align: center;
      -webkit-align-items: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  display: none;
  transition-duration: .3s;
  -ms-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-wrap {
  padding: 30px 30px;
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
      -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-align: start;
      -webkit-align-items: flex-start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  font-family: "Lato", sans-serif;
  margin-bottom: 250px;
}

.container {
  padding: 20px 15px;
  width: 100%;
  text-align: center;
}

.container.bg-color {
  background: #1e1e1e !important;
}

.container h3 {
  font-size: 3rem;
}

.buttons-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
      -webkit-align-items: center;
          align-items: center;
  -ms-flex-pack: center;
      -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 20px 0 50px 0;
}

.buttons-wrapper iframe {
  margin: 0 10px !important;
  margin-bottom: 10px !important;
}

.hsmall {
  font-size: 12px;
  padding: 4px 10px;
}

.hsmall:after {
  padding: 3px 8px;
}

@media only screen and (max-width: 768px) {
  .body-wrap {
    -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .class-helper {
    font-size: 1.2rem;
  }
  .class-helper pre {
    white-space: pre-wrap;
    text-align: center;
  }
}
