//===================================
// Fill Transitions
//===================================


// properties array: [suffix], [:before top], [:before right], [:before bottom], [:before left], [:before width], [:before height], [:before opacity], [:hover:before width], [:hover:before height], [:hover:before opacity]
$properties:(

  //group 1
  "-on" 0  auto auto 0 100% 100% 0 100% 100% 1,
  "-top" 0 auto auto 0 100% 0 1 100% 100% 1,
  "-right" 0 0 auto auto 0 100% 1 100% 100% 1,
  "-bottom" auto auto 0 0 100% 0 1 100% 100% 1,
  "-left" 0 auto auto 0 0 100% 1 100% 100% 1,

  //group 2
  "-on-rev" 0 auto auto 0 100% 100% 1 100% 100% 0,
  "-top-rev" 0 auto auto 0 100% 100% 1 100% 0 1,
  "-right-rev" 0 0 auto auto 100% 100% 1 0 100% 1,
  "-bottom-rev" auto auto 0 0 100% 100% 1 100% 0 1,
  "-left-rev" 0 auto auto 0 100% 100% 1 0 100% 1,
);


// Loop adding properties to classes

.anibtn, anibtn-pill {
  @each $type in $properties {
    &.tr-fill#{nth($type, 1)} {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        background: $btncolor;
        transition-duration: .3s;
        z-index: -1;
        top: nth($type, 2);
        right: nth($type, 3);
        bottom: nth($type, 4);
        left: nth($type, 5);
        width: nth($type, 6);
        height: nth($type, 7);
        opacity: nth($type, 8);
      }
      &:hover {
        &:before {
          width: nth($type, 9);
          height: nth($type, 10);
          opacity: nth($type, 11);
        }
      }
    }
  }
}

.tr-fill-top,
.tr-fill-right,
.tr-fill-bottom,
.tr-fill-left,
.tr-fill-on {
  background: transparent;
  color: $txtcolor;
  transition: color 0.3s ease,
              background 0s ease;
  &:hover {
    color: $txtcolorfill;
    background: $btncolor;
    transition: color 0.3s ease,
                background 0s 0.3s ease;
  }
}

.tr-fill-top-rev,
.tr-fill-right-rev,
.tr-fill-bottom-rev,
.tr-fill-left-rev,
.tr-fill-on-rev{
  background: $btncolor;
  color: $txtcolorfill;
  transition: color 0.3s ease,
              background 0s 0.3s ease;
  &:hover {
    background: transparent;
    color: $txtcolor;
    transition: color 0.3s ease,
                background 0s ease;
  }
}

